{
    "extends": ["react-app", "plugin:prettier/recommended"],
    "plugins": ["react-hooks"],
    "env": {
      "jest": true
    },
    "globals": {
      "page": true
    },
    "rules": {
      "jsx-a11y/interactive-supports-focus": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "react/require-default-props": "off",
      "no-multiple-empty-lines":"error",
      "no-unused-vars":"error"
    }
  }
  