.root {
  display: flex;
  height: 100vh;
}

.side_wrap {
  position: relative;
  width: 200px;
  flex-shrink: 0;
  height: inherit;
  background-color: #eee;
  border-right: 1px solid rgba(#222, 0.3);
  transition: all ease 0.5s 0s;

  &.is_hide {
    margin-left: -200px;
  }
}

.side_toggle {
  z-index: 10;
  position: absolute;
  top: 50%;
  right: -25px;
  width: 50px;
  height: 30px;
  border: 1px solid rgba(#222, 0.3);
  border-radius: 3px;
  background-color: #fff;
  transform: translateY(-50%);
}

.map_wrap {
  flex-grow: 1;
  height: inherit;
}

.map {
  height: inherit;
  overflow: hidden;

  > div {
    width: 100% !important;
    height: inherit !important;
  }

  svg {
    width: 100% !important;
    height: inherit !important;
  }
}
