.root {
  display: flex;
  height: 100vh;
}

.side_wrap {
  width: 200px;
  flex-shrink: 0;
  height: inherit;
  background-color: #eee;
}

.map_wrap {
  flex-grow: 1;
  height: inherit;
}

.map {
  height: inherit;
  border-radius: 5px;
  overflow: hidden;

  > div {
    width: 100% !important;
    height: inherit !important;
  }
  ~ svg {
    width: 100% !important;
    height: inherit !important;
  }
}
